*{
    box-sizing: border-box;
    color: goldenrod;
    font-size: 25px;
}

body{
    background-image: url(images/360_F_97463619_ZHqQiR70xv5HRiTJlkfyetkzxrmezDtP.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: bold;
    font-size: 50px;
}

button{
    background-color: white;
    border-radius: 5px;
    border: black;
    width: 300px;
    height: 150px;
    margin-bottom: 15px;
}

button:hover{
    cursor: pointer;
    background-color: gray;
}

#stay-button{
    display: none;
}

#draw-card{
    display: none;
}